.custom-shape-divider-bottom-1671001171 {
  bottom: -1px;
  left: 0;
  line-height: 0;
  overflow: hidden;
  position: absolute;
  transform: rotate(180deg);
  width: 100%;
  z-index: 1;
}

.custom-shape-divider-bottom-1671001171 svg {
  display: block;
  height: 118px;
  position: relative;
  width: calc(132% + 1.3px);
}

.custom-shape-divider-bottom-1671001171 .shape-fill {
  fill: #f8fafc;
}

@media screen and (max-width: 810px) {
  .custom-shape-divider-bottom-1671001171 {
    display: none;
  }
}
